header{
    width: 100%;
    /* position: fixed; */
    /* position: sticky; */
    background-color: #ffffff;
}
.header-upper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid lightgray;   
    
    /* background-color: skyblue; */
    ul{
        float: right;
        font-size: 0.8rem;
        li{
            float: left;
            ::after{
                content: '|';
                font-size: 0.6rem;
                margin: 0 15px;
                
            }
            a{
                display: block;
                width: 100%;
                color: #656f83;
            }
        }
        li:last-child{
            ::after{display: none;} 
            a{
                width: 110px;
                height: 40px;
                background: url(../images/logo_woori-X3wutELi.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                /* background-size: cover;    */
            }
        }
    }
}
/* gnb */
.header-main{
    clear: both;
    /* background-color: aquamarine; */
    .center{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

#logo{
    /* background-color: tomato; */
    display: inline-block;
    a{
        display:inline-block;
        width: 100%;
        height: fit-content;
    }
}
#gnb{
    align-self: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 25px 70px 20px 0;
    /* background-color: white; */
    li{
        display: inline-block; 
        margin-right: 100px;
        a{
            font-size: 1.3rem;
            font-weight: bold;
            width: 100%;
        }
        a:hover{color: #007ef4;}

    }
    li:last-child{margin: 0;}
}

/* gnb 드롭메뉴 숨김처리 */
#dropMenu{
    display: block;
    display: none;
    background-color: white;
    width: 100%;
}
.dropMenu_con{
    display: block;
    width: 100%;
    /* position: absolute; */
    box-sizing: border-box;
    border: 1px solid lightgray;
    background-color: white;
}
#sub_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

.subMenu_con{
    padding: 30px;
    width: 100%;
    border: 1px solid lightgray;
    >span{
        display: block;
        background-color: burlywood;
    }
}    


.subMenu_con_li{
    >span{background-color: burlywood;}
    >ul{
        li{
            position: relative;
            a{
                display: block;
                width: 100%;
            }
            >a{background-color: aqua;}
            >span{
                position: absolute;
                top: 0;
                left: 0;
                a{background-color: slateblue;}
                display: none;
            }
        }
    }
}
.sub_subLi{
    ::after{
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../images/ico_accordion_arrow_black-COJR6PYc.svg);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}




#header_btn{
    display: inline-block;
    float: right;
    #search{
        background: url(../images/header_search-DBCS62oA.svg); 
        margin-right: 10px;
    }
    #ham{background: url(../images/header_drawer-QCPxfTI-.svg);}
    #search,#ham{
        width: 25px;
        height: 25px;
        background-size: cover;
    }
}



/* 모달창 배경,요소 전체 숨김처리 display:none; */
/* modal */
.modal.mainPopup+.searchDrop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
}
/* mainPopup */
.mainPopup_wrap{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6;
    .mainPopup_con{
        background-color: white;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px 35px;
        .modal_close{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 25px;
            height: 25px;
            background: url(../images/ico_close-D1nh7xov.svg);
            background-size: cover;
        }
        p{
            font-size: 1.15rem;
            font-weight: bold;
            margin-bottom: 10px; 
        }
        img{margin-bottom: 30px;}
        .mainPopup_detail{
            display: block;
            width: 100%;
            height: 45px;
            margin-bottom: 15px;
            border-radius: 12px;
            background-color: #007ef4;
            a{
                display: block;
                width: 100%;
                color: white;
                font-weight: bold;
            }
        }
    }
    .mainPopup_close{
        display: block;
        float: right;
        margin: 10px 20px 0 0;
        button{
            color: white;
            background-color: transparent;
        }
        button:first-of-type::after{
            content: '|';
            margin: 0 5px;
        }
    }
}

/* searchModal */
.modal_wrap{
    display: none;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 90px 0 40px 0;
    width: 100%;
    height: 280px;
    border-radius: 0 0 35px 35px;
    background-color: white;
    z-index: 6;
    .modal_close{
        position: absolute;
        top: 15px;
        right: 30px;
        width: 50px;
        height: 50px;
        background: url(../images/ico_big_close-CY2FQPMN.svg);
        background-size: cover;
    }
    .modal_con{
        margin: 0 auto;
        width: 600px;
        .inputBox{
            position: relative;
            width: 100%;
            height: 52px;
            border: 2px solid #007ef4;
            background-color: white;
            border-radius: 10px;   
            overflow: hidden;
            .inputArea{
                display: inline-block;
                width: 540px; 
                height: inherit;
                background-color: transparent;
                input{
                    box-sizing: border-box;
                    padding-left: 20px;
                    width: 100%;
                    height: inherit;
                    font-size: 1.1rem;
                    font-weight: bold;
                    &::-webkit-search-decoration,
                    &::-webkit-search-cancel-button,
                    &::-webkit-search-results-button,
                    &::-webkit-search-results-decoration{display: none;}
                    outline: none;
                    border: none;
                }
            }
            .inputBtn{
                position: absolute;
                top: 0;
                right: 0;
                width:60px;
                height: inherit;
                button{
                    width: inherit;
                    height: inherit;
                    background: url(../images/ico_total_search-BkFcTIPh.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    border: none;
                }
            }
        }
        .hashTag{
            padding: 25px 0;
            display: inline-block;
            >div{
                ::before{
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/ico_pop_keyword-B5q-qADq.svg);
                    background-size: cover;
                    margin-right: 5px;
                }
                p{
                    font-weight: bold;
                    font-size: 0.9rem;
                    box-sizing: border-box;
                    padding-bottom: 10px;
                }
            }
            ul{
                li{ 
                    float: left;
                    font-size: 0.7rem;
                    font-weight: bold;
                    padding: 8px 10px;
                    border-radius: 20px;
                    margin-right: 5px;
                    color: #656f83;
                    background-color: #f5f6fa;  
                }
            }
        }
    }
}

/* main_banner */
#main_banner
{
    width: 100%;
    background-color: antiquewhite;
    .center{
    
    }
}

#logIn{
    background-color: #ffffff;
    width: 360px;
    height: 300px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 25px;
    font-weight: bold;
    >span{
        font-size: 1rem;
        margin-bottom: 40px;
    }
    >h1{
        font-size: 1.6rem;
        
    }
    >button{
        font-size: 1rem;
        font-weight: bolder;
        color: #ffffff;
        background-color: #007ef4;
        width: 100%;
        padding: 15px 0;
        border-radius: 10px;
    }
}




/* main-list */
#main-list{
    .center{
        padding: 60px 0;
        ul{
            display: flex;
            justify-content: space-between;
            text-align: center;
            li {
                img{margin-bottom: 10px;}
                a{font-weight: bold;}
            }
            li:hover a p{text-decoration: underline;}
        }
    }
}

/* services */
#services{
    background-color: #f3f6f9;
    padding: 80px 0;
}    
#services_tab{
    
}
#tab_menu{
    margin-bottom: 30px;
    button{
        font-size: 1.6rem;
        font-weight: bold;
        margin-right: 30px;
    }
}





/* faq */
#faqSec{
    padding: 100px 0;
    .center{
        >h1{
            font-size: 2.5rem;
            margin-bottom: 30px;
        }    
    }    
}
#faqWrap{
    display: flex;
    gap: 50px;
    
}
#faq{
    background-color: tan;
    width:50%;
}
#faqListCon{
    box-sizing: border-box;
    padding: 10px 35px;
    border: 1px solid #e1e5ec;
    border-radius: 25px;
    background-color: white;
}
.faqList{
    /* background-color: tomato; */
    width: 100%;
    text-align: left;
    >li{
        width: 100%;
        counter-increment: item;
        border-bottom: 1px solid #e1e5ec;
        padding: 25px 0;   
        display: flex;
        justify-content: space-evenly;
        &:last-of-type{border-bottom: none}
        &::before{
            content: counter(item);
            display: inline-block;
            width: 20px;
            height:20px;
            font-size: 0.8rem;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
            background-color: #007ef4;
            border-radius: 10px;
            margin:3px 10px 0 0;
        }
        button{
            width: 100%;
            font-size: 1rem;
            font-weight: bold;
            text-align: left;    
            background-color: transparent;
            margin-right: 0px;
        }
        button:hover,button:hover::before{text-decoration: underline;}
        &::after{
            align-self: center;
            content: '';
            background: url(../images/ico_faq_arrow-DgB1IdZN.svg);
            background-size: cover;
            display: block;
            width: 15px;
            height: 15px;
            
        }
    }
    
}
#faqCon
{

}
/* faq 모달 콘텐츠 숨김처리 */
.faqTxt{
    display: none;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 15px;
}

#faqService{
    width: 50%;
    background-color: thistle;
    ul{
        /* display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap; */
        text-align: center;
        li{
            border-radius: 20px;
            background-color: #eef7ff;
            float: left;
            img{
                display: block;
            }
        }
        li:hover a{text-decoration: underline;}
    }

}
/* mid-banner */
.aboutCompany{
    width: 100%;
    background: url(../images/main_img_company-Dcj-Ydli.png);
    background-size: cover;    
    border-radius: 25px;
    box-sizing: border-box;
    a{  
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-sizing: border-box;
        width: 100%;
        padding: 60px 0  60px 50%;
        height: inherit;
        color: #ffffff;
        p{
            font-size: 1rem;
            margin-bottom: 20px;
            opacity: 0.8;
        }
        strong{
            display: block;
            font-size: 1.6rem;
            margin-bottom: 15px;
        }
        span{
            font-size: 0.8rem;
            font-weight: bold;
            &::after{
                content: '';
                background: url(../images/ico_go_white-B7w7zlr6.svg);
                background-size: cover;
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-left:5px;
                vertical-align: sub;
            }
        }
    }
}

/* notice */
#notice{
    padding: 100px 0;
    display: flex;
    .center{
        display: flex;
        justify-content: space-between;
    }

}
#noticeTxt{
    display: inline-block;
    width: 40%;
    h1{
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
    span{
        a{font-size: 0.9rem;}
        a:hover{text-decoration: underline;}
        ::after{
          content: '';
          display: inline-block;
          width: 1rem;
          height: 1rem;
          vertical-align: sub;
          background: url(../images/ico_go-DpH5Ehr8.svg);
          background-size: cover;
          margin-left: 5px;
        }  
    }
}    
#noticeCon{
    width: 60%;

}    
.noticeConLi{
    transition: all 0.3s;
    li{
        /* display: inline-block; */
        box-sizing: border-box;
        border: 1px solid #656f83;
        border-radius: 30px;
        a{
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 40px;
            strong{font-size: 1.2rem;}
            span{
                display: block;
                margin-top: 50px;
                font-size: 0.8rem;
                font-weight: bold;
                color: #656f83;
                &::after{
                    opacity: 0;
                    content: '';
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background: url(../images/ico_notice_go-0zNf481K.svg);
                    background-size: cover;
                    
                }
            }
        }    
        &:hover{
            color: #007ef4;
            border: 1px solid #007ef4;
            strong{color: #007ef4;}
            span{
                &::after{opacity: 100%;}
            }
        }
    }   
}


/* footer */
footer{
    background-color: #333a46;
    .center{
        
    }
}
#footer_upper{
    border-bottom: 1px solid #656f83;
}
.upper_con{

}
.info{
    border-left: 1px solid #656f83;
    border-right: 1px solid #656f83;
    display: flex;
    li{
        width: 100%;
        padding: 18px;
        border-right: 1px solid #656f83;
        border-bottom: none;
        button{
            width: 100%;
            color: #a7afbe;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after{
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../images/ico_footer_plus-DEIog4sb.svg);
                background-size: cover;
            }
        }  
    }
    li:nth-of-type(4), li:last-of-type{
        button{
            &::after{
                content: '';
                background: url(../images/ico_footer_blank-DIwq6BmI.svg);
            }
        }
    }
    li:last-of-type{border: none;}
}

#footer_main{
    .center{
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
    }
}
#contact{
    color: #a7afbe;
    display: inline-block;
    font-size: 0.7rem;
    >span{
        display: inline-block;
        margin: 0 10px 5px 0;
    }
    >p{font-size: 0.7rem;}
}
.call{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    li{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1.1rem;
        font-weight: bold;
        color: #ffffff;
        &::after{
            content: '|';
            font-size: 0.6rem;   
            font-weight: lighter;
            color: #a7afbe;
            margin:0 10px;         
        }
        span:first-of-type{
            font-size: 1rem;
            margin: 0 5px;
        }
        span:last-of-type{
            font-size: 0.8rem;
            color: #a7afbe;
        }
    }
    li:first-of-type{
        font-size: 1.1rem;
        span:first-of-type{
            &::before{
                content: '';
                background: url(../images/ico_tel-D8HgDtdv.svg);
                background-size: cover;
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: sub;
                margin: 0 3px;
            }
        } 
    }
    li:last-of-type{
        font-size: 0.8rem;
        span{color: #ffffff;}
        &::after{display: none;}
    }
}

#family{
    >span{
        display: inline-block;
        margin-right: 20px;

    }
    >div:last-of-type{
        padding-top: 10px;
        width: 100%;
        span{float: right;}
    }
}
/* 왜 z-index가 안먹을까~~~ */
.familyToggle{
    display: inline-block;
    position: relative;
    button{
        z-index: 16;
        display: block;
        width: 100%;
        padding: 15px 50px;
        font-size: 0.9rem;
        font-weight: bold;
        color:#a7afbe;
        background-color: #ffffff05;
        border-radius: 30px;
        span{}
    }
}
.toggleList{
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
    ul{
        z-index: 12; 
        background-color: #2c313a;
        padding: 25px 35px 80px;
        border-radius: 30px;
        li{
            margin-bottom: 8px;
            a{
                display: flex;
                align-items: center;
                width: 100%;
                font-size: 0.8rem;
                color: #a7afbe;
            }
            ::after{
                content: '';
                background: url(../images/ico_footer_blank-DIwq6BmI.svg);
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-left: 5px;
                            
            }
        }
        :hover{
            a{
                color: #ffffff;
            }
        }
    }   
}