*{margin: 0; padding: 0; box-sizing: border-box;}
@font-face{font-family: "hana"; src:url(../fonts/Hana2-Medium.woff)format("woff"); font-weight: normal; font-style: normal;}
@font-face{font-family: "hana"; src:url(../fonts/Hana2-Medium.woff)format("woff"); font-weight: bold; font-style: normal;}
@font-face{font-family: "hana"; src: url(../fonts/Hana2-Bold.woff)format("woff"); font-weight: 500; font-style: normal;}
body,html{font-family: "hana",sans-serif; font-size: 1rem; color: #222222; position: relative;}
section,footer{font-family: sans-serif;}
.inner{max-width:1280px; margin: 0 auto; padding: 0 40px;}
.hiddenTitle{display: none;}
ul{list-style: none;}
a{display: block; width: 100%; text-decoration: none; color: #222222;}
a:visited{text-decoration: none; color: #222222;}
button{border: none; background-color: transparent; cursor: pointer; color: #222222;}